<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>

    <!-- isme agar hum post maping nhi karenge to ye default he get ko use karega -->
    <form method="post" action="/posts">
        <!-- user name or content wahi same name hai jo database me name key hai value ka -->
        <input placeholder="Enter Username" name="username"><br><br>
        <textarea name="content" placeholder="write your post"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>